.container-fluid{
  width: 80%;
}
.content-wrap {
 padding: 20px 50px;
}
#language {
  float: right;
padding-right: 15px;
}
.header {
    margin: 40px 0px 40px -20px;
}
.muted {
  color: #f5f5f5;
  text-shadow: 0px 0px 1px rgba(7, 24, 53, 0.4);
  letter-spacing: 0.04em;
  font-family: verdana;
  margin-top: 7px;
}

.fullwidth #content {
  width: 19.5cm;
  margin: 0;
}
body {
  font-family: arial, sans-serif;
  margin: 0px;
}

.weight {
  display:inline-block;
  float:right;
}

.product_data {
  width: 48%;
  display: block;
  float: left;
  font-size: 10px;
}
.product {
  margin-bottom: 0em;
}
.product a {
  line-height: 2em;
  text-decoration: none;
}

.ingredients {
  margin: 0.2em 0 0.2em;
  font-size: 80%;
  font-family: Times New Roman, serif;
}
.product_sv {
  font-size: 90%;
  margin-top: 0.5em;
}
.product_sv .ingredients {
  margin-bottom: 0.4em;
}

.product_data {
  padding: 1%;
}
.company_description {
  font-size: 9px;
}

/*
.product_data:nth-child(4n) {
  background: #efe;
}

.product_data:nth-child(4n +1 ) {
  background: #eef;
}

*/

.sv {
  font-size: 85%;
}


.nutrition_facts {
  display: block;
  float: left;
  font-size: 70%;
  max-width: 59%;
  width: 59%;
}
.nutrition_facts td:nth-child(2) {
  text-align: right;
}
.nutrition_facts th:nth-child(1) {
  padding-right:20px;
}
.nutrition_facts td, nutrition_facts tr {
  line-height:0.91em;
  padding: 0px;
  margin: 0px;
} 
.nutrition_facts .same td {
  vertical-align: top;
  position: relative;
  top: -1px;
}

.extra_product_data {
  display: block;
  float: left;
  width: 40%;
  font-size: 70%;
  text-align: right;
}
.company_name {
  font-size: 120%;
}
.extra_product_data pre {
  font-family: arial, sans-serif;
  margin: 0px;
}

.recipe {
 padding: 41px 120px;
 }
 .recipe .weight {
   float: none;
     margin-bottom: 40px;
     }
     .recipe table {
       font-size: 130%;
       }
       
       .recipe table:nth-of-type(1)  td:nth-of-type(1) {

clear: both;
text-align: right;
padding-right: 20px;
line-wrap: none;
white-space: nowrap;
vertical-align: top;
	     }

.recipe .nutrition_facts {
       margin: 40px 0;
         font-size: 85%;
 }
.recipe .nutrition_facts td {
  padding: 4px 0;
}
.recipe table p.description {
font-size: 70%;
text-align: left;
padding: 0px;
margin: 3px 0 5px;
  }
  
.table  .product td { border: none; }
  .product { font-size: 1.3em; }